body{
    background-color: whitesmoke;
    height: 190vh;
    font-weight: bold;
    letter-spacing: 2px;
    
}

* {
    margin: 0px; 
    padding: 0px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main{
    background-color: white;
    height: 1080px;
    width: 650px;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 60%;
    margin-top: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7)

}

.left{
    background-color:pink;
    width: 200px;
    height: 100%;
    float: left;
}

.right{
    width: 450px;
    float: left;
}

.profile-img{
    height: 200px;
    width: 180px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 2px;
    border: 8px solid palevioletred;
    

}

.profile-img img{
    width: 100%;
    border-radius: 50%;
    
}

.box-1{
    position: relative;
}

.heading{
    background-color: beige;
    padding: 10px;
    color: black;
    text-align: left;
    padding-left: 20px;
    margin-right: -8%;

}

.heading ::after{
    content: '';
    position: absolute;
    width: 21px;
    height:18px;
    background-color: burlywood;
    left: 191px;
    top:26px;
    transform: rotate(56deg);
    z-index: -1;
}

.name-div {
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}

.name-div h1{
    margin-bottom: 10px;
}

ul{
    padding-left: 10%;
    word-spacing: 1px;
}

.p1{
    font-size: 15px;
    letter-spacing: 1px;
}

.p2{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 15px;
    margin-top: 5px;
    padding-left: 5%;
    padding-right: 3%;
}

.p-1{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 15px;
    margin-top: 5px;
    padding-left: 5%;
    padding-right: 3%;
    
}

.h-1{
    padding-left: 5%;
}

